<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="./css/normalize.css">
<link rel="stylesheet" href="./css/main.css">

<script src="./js/vendor/jquery-1.10.2.min.js"></script>
<script src="./js/vendor/jquery-ui-1.10.3.custom.min.js"></script>
<script src="./js/main.js"></script>
</head>
<body>

<header class="page-header" role="banner">
    <h1>〜日本語教師と日本語学習者のマッチングアプリ〜</h1>
</header>

<div class="page-main" role="main">

    <div id="buttons2">
        <h2></h2>
        <div class="inner clearfix">
            <button>
                <span>
                    <%= link_to image_tag("/assets/01_gr.png"), main_show_path %>
                    <img src="/assets/01_bl.png"><br>
                    Goenとは？
                </span>
            </button>
            <button>
                <span>
                    <%= link_to image_tag("/assets/02_gr.png"), teacher_index_path %>
                    <img src="/assets/02_bl.png"><br>
                    先生へ
                </span>
            </button>
            <button>
                <span>
                    <%= link_to image_tag("/assets/03_gr.png"), teacher_show_path %>
                    <img src="/assets/03_bl.png"><br>
                    にほんごを べんきょうしたい みなさんへ
                </span>
            </button>
            <button>
                <span>
                    <img src="/assets/04_gr.png">
                    <img src="/assets/04_bl.png"><br>
                    着物
                </span>
            </button>
        </div>
    </div>

</div>

<footer>
</footer>

</body>
</html>
