  <div class="content">
      goenとは・・・・<br>
      <br>
      日本語教師と日本語学習者をマッチングするアプリです。<br>
      <br>
      日本語教師の中には資格や経験がなくてもいい先生がたくさんいます。<br>
      このアプリは資格や経験を記入する欄がありません。先生方にチャレンジする場を提供しています。<br>
      <br>
      日本語を習得するにはたくさん練習することが大切です。<br>
      自分に合った先生を探して楽しく授業をしませんか？<br>
      <br>
      日本語の先生、学習者さんにいいご縁がありますように...<br>
      <br>
      まずは会員登録から始めましょう！！
  </div>

<div class="content">
  <% if user_signed_in? %>
    <div class="grid-6">
      <%=link_to "トップページ", root_path, data: {"turbolinks" => false}, class: 'btn btn-default' %>
    </div>
  <% else %>
    <div class="grid-6">
      <%=link_to "会員登録", new_user_registration_path, class: 'btn btn-default' %>
      <%=link_to "トップページ", root_path, data: {"turbolinks" => false}, class: 'btn btn-default' %>
    </div>
  <% end %>
</div>



