<div class="content">
  先生方へ<br>
  <br>
  Goenは日本語の先生と学習者さんをマッチングするアプリです。<br><br>
  「資格を持っていない」「経験が浅い」でも・・・・ <br>
  「日本語教育にかける情熱は人一倍！！」という先生を応援します。<br><br>
  必要なのは「短い動画」と「体験授業」の2つ。<br><br>
  どんなバックグラウンドを持った先生も平等に学習者さんが獲得できるようになっています。<br>
</div>

<div class="content">
  <% if user_signed_in? %>
    <div class="grid-6">
      <%= link_to "動画を投稿する", new_tweet_path, class: 'btn btn-default' %>
      <%= link_to "他の先生の動画を見てみる", tweets_path, class: 'btn btn-default' %>
    </div>
  <% else %>
    <strong><p>※※※ 動画の投稿には新規登録/ログインが必要です ※※※</p></strong>
  <% end %>
</div>

