<div class="content">
  にほんごを べんきょうしている みなさんへ<br>
  <br>
  Goenは みなさんに あった にほんごの せんせいを みつけることが できます。<br>
  <br>
  せんせいの どうがを みてください。いいとおもった せんせいがいたら むりょうで たいけんじゅぎょうを うけることが できます。<br>
  <br>
  たいけんじゅぎょうを うけて いいとおもったら つぎからは おかねをはらって じゅぎょうを うけます。<br>
  <br>
  みなさんに いいごえんが ありますように・・・・<br>
  おうえん しています！
  <br><br><br>
  〜せんせいに メッセージを おくる〜<br>
  どうがの みぎうえを クリック。せんせいに メッセージを おくることが できます。
</div>

<div class="content">
  <div class="grid-6">
    <%= link_to "どうがをみる", tweets_path, class: 'btn btn-default' %>
  </div>
</div>

